.media {
  font-family: 'Spectral', serif;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  outline: none;
}

.fader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.background video {
  width: 100vw;
  height: 100vh;
  position: fixed;
  object-fit: cover;
}

.preamble {
  color: white;
  text-align: center;
}

.instructions {
  margin: 25px;
  color: #DDD;
}

@keyframes slidein {
  from {
    opacity: 0;
    transform: translateY(40px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.instruction {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 5px 0;
  animation-duration: 3s;
  animation-name: slidein;
  animation-fill-mode: backwards;

  &:nth-child(1) {
    animation-delay: 200ms;
  }
  
  &:nth-child(2) {
    animation-delay: 400ms;
  }
  
  &:nth-child(3) {
    animation-delay: 800ms;
  }

  .icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 50px;
  }

  span {
    margin-left: 10px;
  }
}

.keyboard {
  border: 2px solid white;
  border-radius: 2px;
  padding: 3px;
}

.start {
  display: inline-block;
  cursor: pointer;
  padding: 10px 15px;
  background: transparent;
  border: 2px solid #ccc;
  background-color: #000;
  transition: 300ms ease-in all;

  &:hover {
    color: #333;
    background-color: #ccc;
  }
}

.image {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.fadeEnter {
  opacity: 0;
}

.fadeEnterActive {
  opacity: 0;
}
  
.fadeEnterDone {
  opacity: 1;
  transition: 1000ms ease-in opacity;
}

.fadeAppear {
  opacity: 0;
}

.fadeAppearActive {
  opacity: 1;
  transition: 1000ms ease-in opacity;
}

.fadeAppearDone {
  opacity: 1;
}

.fadeExit {
  opacity: 1;
}

.fadeExitActive {
  opacity: 0;
  transition: 1000ms ease-out opacity;
}

.text {
  z-index: 2;
  color: white;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  white-space: pre;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
  overflow: auto;
}

.text a {
  font-style: italic;
  color: inherit;
  text-decoration: none;
  opacity: 1;
  transition: 200ms ease opacity;

  &:hover {
    cursor: pointer;
    opacity: 0.5;
  }
}

.textFrame {
  flex: 1 1;
  margin: 8vh 5vw;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: stretch;
}

.top, .left, .bottom, .right {
  display: flex;
  flex-direction: row;
  flex: 1 1;
}

.top {
  align-items: flex-start;
}

.left {
  justify-content: flex-start;
}

.bottom {
  align-items: flex-end;
}

.right {
  justify-content: flex-end;
}

@keyframes club {
  0% { color: #ffc0ff; }
  12.5% { color: #ffb0b0; }
  25% { color: #ffb86e; }
  37.5% { color: #ffe45a; }
  50% { color: #bfff98; }
  62.5% { color: #61ffe3; }
  75% { color: #8dc4ff; }
  82.5% { color: #cec2ff; }
  100% { color: #ffc0ff; }
}

@keyframes beat {
  0% { transform: scale(1) }
  12.5% { transform: scale(1.1) }
  25% { transform: scale(1) }
}

.pulse0 {
  display: inline-block;
  animation: beat 4s infinite;
}

.pulse1 {
  display: inline-block;
  animation-duration: 4s;
  animation-delay: 1s;
  animation-name: beat;
  animation-iteration-count: infinite;
}

.pulse2 {
  display: inline-block;
  animation-duration: 4s;
  animation-delay: 2s;
  animation-name: beat;
  animation-iteration-count: infinite;
}

.pulse3 {
  display: inline-block;
  animation-duration: 4s;
  animation-delay: 3s;
  animation-name: beat;
  animation-iteration-count: infinite;
}
