.textWrapper {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  color: #ccc;
  transition: 2s linear background;
}

.face {
  position: absolute;
  white-space: pre;
  font-family: monospace;
  cursor: default;
}

.face a {
  position: relative;
  color: black;
  background: white;
  opacity: 0.8;
  cursor: pointer;
  z-index: 10;
  font-size: 13px;
  border: 2px solid white;
  padding: 3px 5px;

  &:hover {
    opacity: 1;
  }
}
