.textWrapper {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  color: white;
  transition: 2s linear background;
}

.face {
  position: absolute;
  white-space: pre;
  font-family: monospace;
  cursor: default;
}
